* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: sans-serif
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* line-height: 30px; */
}

.title {
  font-size: 3rem;
  margin: 6vh;
  border: 7px darkcyan dotted;
  border-radius: 20px;
  padding: 1vh 5vh;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  width: 400px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image {
  width: 380px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.tour-info {
  margin: 20px 5px;
}
.tour-details{
    font-weight: 500;
    font-size: 18px;
}
.tour-details .tour-price {
  color: rgb(13, 107, 67);
  
}
.tour-details .tour-name {
  color: rgb(15, 4, 26);

}
.read-more{
    color: rgb(113, 128, 174);
}
.red-btn{
    color: red;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.tour-details{
    line-height: 1.6;
}
.description {
    line-height: 1.4;
}
.refresh{
    font-weight: 700;
    font-size: 22px;
    color: green;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.refresh button {
    font-weight: 600;
    font-size: 17px;
    margin: 0;
    position: relative;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 3px;
    padding: 7px;
    margin: 3px;
}